<h1>Restaurants</h1>


<ul>
  <% @restaurants.each do |restaurant| %>
  <li><%= restaurant.name%></li>
  <p><%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%></p>
  <% end %>
</ul>

<%= link_to "Add your restaurant", new_restaurant_path %>
